  })();</script>
</head>
<body>
  <ul id="sidebar">
    <li id="title">
      <span id="storyTitle"></span>
      <span id="titleSeparator"></span>
      <span id="storyAuthor"></span>
    </li>
    <li id="storyMenu"></li>
    <li id="snapback">Rewind</li>
    <li id="restart">Restart</li>
    <li id="credits">This story was created with <a href="http://gimcrackd.com/etc/src/">Twee</a> and is powered by <a href="http://tiddlywiki.com/">TiddlyWiki</a>.</li>
  </ul>
  <div id="snapbackMenu" class="menu"></div>
  <div id="passages"></div>
  <div id="storeArea">
