  })();</script>
</head>
<body>
  <ul id="sidebar">
    <li id="title">
      <span id="storyTitle"></span>
      <span id="titleSeparator"></span>
      <span id="storyAuthor"></span>
    </li>
    <li id="storyMenu"></li>
    <li id="snapback">Rewind</li>
    <li id="restart">Restart</li>
    <li id="share">Share</li>
    <li id="credits">This story was created with <a href="http://gimcrackd.com/etc/src/">Twee</a> and is powered by <a href="http://tiddlywiki.com/">TiddlyWiki</a>.</li>
  </ul>
  <div id="snapbackMenu" class="menu"></div>
  <div id="shareMenu" class="menu">
    <div onclick="javascript:location.href='http://digg.com/submit?phase=2%20&amp;title='+tale.get('StoryTitle').text+'&amp;url='+location.href">Digg</div>
    <div onclick="javascript:location.href='http://del.icio.us/post?title='+tale.get('StoryTitle').text+'&amp;url='+location.href">Delicious</div>
    <div onclick="javascript:location.href='http://facebook.com/share.php?t='+tale.get('StoryTitle').text+'&amp;u='+location.href">Facebook</div>
    <div onclick="javascript:location.href='http://stumbleupon.com/submit?title='+tale.get('StoryTitle').text+'&amp;url='+location.href">StumbleUpon</div>
    <div onclick="javascript:location.href='http://furl.net/storeIt.jsp?t='+tale.get('StoryTitle').text+'&amp;u='+location.href">Furl</div>
  </div>
  <div id="passages"></div>
  <div id="storeArea">
